<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Головна</title>
</head>
<body>
<div th:fragment="header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button href="/" aria-label="Home">
                Головна
            </md-button>
            <md-button href="/books" aria-label="books">
                Каталог
            </md-button>
            <md-button href="/registration" aria-label="Create new registration">
                Реєстрація
            </md-button>
            <div sec:authorize="isAuthenticated()">
                <md-button href="/cabinet" aria-label="Profile">
                    Профіль
                </md-button>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <md-button href="/login" aria-label="Log In">
                    Увійти
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div sec:authorize="hasRole('ADMIN')">
        <md-toolbar>

            <div class="md-toolbar-tools">
                <md-button href="/users" aria-label="Users">
                    Користувачі
                </md-button>
                <md-button href="/book/new" aria-label="Create new book">
                    Додати нову книжку
                </md-button>
            </div>

        </md-toolbar>
    </div>
</div>
</body>
</html>